@import  './variaveis.css';


body {
    font-family: "Bebas Neue", sans-serif;
}
.container {
    max-width: 1440px;
   
}

/* Estilo dos links */
a {
    color: var(--branco);
    text-decoration: none;
    transition: 0.3s;
   
}

a:hover {
    color: var(--vermelho);
    opacity: 0.7;
}




/* Estilo da barra de navegação */
header {
    background-color: var(--cinza);
}

.nav {
    display: flex;
    justify-content: space-between; /* Distribui os elementos na barra */
    align-items: center;
    margin: 0 auto ;
    color: var(--branco);
    height: 12vh;
    padding: 0 20px;
}



/* Estilo dos itens do menu */
.textos {
    display: flex;
    list-style: none;
    font-size: 20px;
    
}

.textos li {
    margin:  25px; /* Espaçamento entre os itens do menu */
}
.redes_sociais {
    display: flex;
    gap: 15px;
}


#hamburger {
    display: none;
}
.mobile-menu {
    display: none;

}

@media screen and (max-width: 900px) {

.logo img {
    width: 250px;
    height: auto;
}

    .textos {
        display: none;
    }

    #hamburger {
        display: block;
        color: #fff;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100%;
        background-color: #252525;
        padding: 1rem;
        box-sizing: border-box;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu li {
        text-align: center;
        padding: 0.5rem 0;
    }

    .mobile-menu a {
        color: #fff;
        text-decoration: none;
    }
}


#WhatsApp {
    color: #fff;

    text-decoration: none;
    background-color: transparent;
    border: none;
}

#instagram {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
#facebook {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
@media screen and (max-width: 400px) {
    .logo img {
        width: 150px;
        height: auto;
    }
    
}










